{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


 
   {% block jumbotron %}
    <div class="jumbotron">

        <div class="row">
            <div class="container" id="safe_reliable">  
                <h1 >Safe & Reliable Nationwide Auto Transport.</h1>
                <p class="lead">Car shipping across all 50 states.</p> 
                <a href="{% url 'CostCalculate' %}"><input id="calc_button" class="btn btn-primary btn-lg" type='submit' value='Calculate Cost'/> </a>         
            </div>
        </div>	  

    </div>
    {% endblock %}                        

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    

      <!-- Three columns of text below the carousel -->
    {% block content %}
	    <div id="suratly_row" class="row">
	        <div id="ortarada" class="col-lg-4">
	            <img class="rounded-circle" src="{% static 'img/a1.jpg' %}" alt="Generic placeholder image" width="140" height="140">
	            <h2>Best Shipping Price</h2>
	            <p>Using cutting-edge auto logistics technology, we offer you a comprehensive car shipping quote from our network of over 10,000+ car hauling carriers. Shipping prices are upfront, transparent, and our quote is all-inclusive so you can enjoy a reliable, affordable auto transport service.</p>
	            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
	        </div><!-- /.col-lg-4 -->
	        <div id="ortarada" class="col-lg-4">
	            <img class="rounded-circle" src="{% static 'img/a2.jpg' %}" alt="Generic placeholder image" width="140" height="140">
	            <h2>Money-Back Guarantee</h2>
	            <p>Plans change when you’re shipping a car across country—and we understand that. If you need to cancel your vehicle shipment, it’s OK. You’re covered by our Money-Back Guarantee.</p>
	            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
	        </div><!-- /.col-lg-4 -->
	        <div id="ortarada" class="col-lg-4">
	            <img class="rounded-circle" src="{% static 'img/a3.jpg' %}" alt="Generic placeholder image" width="140" height="140">
	            <h2>Professional Services</h2>
	            <p>From booking to delivery and beyond, we’re passionate about providing you clear communication and TLC for you and your car. Available 365 days/year, we’re always here to assure reliable shipping and countrywide, premier auto transport that gives you peace of mind.</p>
	            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
	        </div><!-- /.col-lg-4 -->
	    </div><!-- /.row -->

	    
	    
	    <div id="row_backround-img1" class="row" class="row_backround_height">
	        <div class="container">
	            <div class="col-md-6">
	                <h2 class="featurette-heading">Professional Services <br/>It'll blow your mind.</h2>
	              <p class="lead">From booking to delivery and beyond, we’re passionate about providing you clear communication and TLC for you and your car. Available 365 days/year, we’re always here to assure reliable shipping and countrywide, premier auto transport that gives you peace of mind.</p>
	            </div>
	          </div>
	    </div>
	  

	    <div id="row_backround-img2" class="row">
	        <div class="container ">
	            <div class="col-md-6 float-right">
	                <h2 class="featurette-heading">Money-Back Guarantee <br/>It'll blow your mind.</h2>
	              <p class="lead">Plans change when you’re shipping a car across country—and we understand that. If you need to cancel your vehicle shipment, it’s OK. You’re covered by our Money-Back Guarantee.</p>
	            </div>
	          </div>
	    </div>
	    

	    <div id="row_backround-img3" class="row">
	        <div class="container">
	            <div class="col-md-6 active">
	                <h2 class="featurette-heading">Best Shipping Price<br/>It'll blow your mind.</h2>
	              <p class="lead">Using cutting-edge auto logistics technology, we offer you a comprehensive car shipping quote from our network of over 10,000+ car hauling carriers. Shipping prices are upfront, transparent, and our quote is all-inclusive so you can enjoy a reliable, affordable auto transport service.</p>
	            </div>
	          </div>
	    </div>
	   
	{% endblock %}

	
  


 