.collapse.navbar-collapse {
  width: 100%;
}


#safe_reliable {
    margin-top: 20px;
}


#p_across_all_50 {
    margin-top: 23px;
}


div #across_all_50 {
    left: 11.5%;
    bottom: 1rem;
}

#my_carsousel-item {
  height: 45.5rem;
}

.ul_navbar_onarmak {
	margin-right: 4em;
	
}

.li_navbar_onarmak {
	padding-right: 10px;
}